.tic-tac-toe {
  width: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  grid-gap: 20px;

  .ttt-left-col {
    grid-column: 1;
    width: 400px;
    height: 400px;

    .ttt-board {
      display: grid;
      grid-gap: 10px;
      background-color: rgb(200, 200, 200);
      border: solid 10px rgb(200, 200, 200);
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      border-radius: 10px;

      .ttt-cell {
        box-sizing: border-box;
        display: inline-block;
        position: relative;
        text-align: center;
        cursor: pointer;
        background-color: white;
        font-size: 70px;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border-radius: 10px;

        &:hover {
          background-color: rgb(245, 245, 245);
        }
      }
    }
  }

  .ttt-right-col {
    grid-column: 2;
    box-sizing: border-box;

    .message-box {
      padding: 10px;
      font-size: 20px;
      font-family: sans-serif;
      color: black;

      .button {
        cursor: pointer;
        background-color: white;
        padding: 5px;
        border: solid 1px rgb(220, 220, 220);
        border-radius: 5px;
        text-align: center;

        &:hover {
          transition: .2s all;
          border: solid 1px rgb(120, 120, 120);
        }

        &.selected {
          background-color: #ffb347;
        }
      }


      .message {
        margin-top: 10px;
        background-color: rgb(223, 223, 223);
        height: 325px;
        padding: 10px;

        .reset-button {
          .button;
          background-color: #4793ff;
          color: white;
        }

        .instant-replay-button {
          .button;
          background-color: #47ffb3;
          color: white;
        }
      }

      .game-controls {
        width: 100%;

        .difficulty-button-row {
          width: 100%;
          display: grid;
          grid-template-columns: 33% 33% 33%;
          grid-gap: 5px;

          .easy-toggle {
            .button;
            grid-column: 1;
          }

          .medium-toggle {
            .button;
            grid-column: 2;
          }

          .hard-toggle {
            .button;
            grid-column: 3;
          }
        }
      }

    }
  }

}
